*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.div3{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: lightgrey;
    align-items: center;
    padding: 2.3rem;
    justify-content: space-between;
}
.two h6{
    line-height: .7rem;
    font-size: 2rem;
    color: rgba(255, 153, 0, 0.438);
    letter-spacing: .4rem;
}
.two h3{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.two h1{
    font-weight: 600;
}

span{
    color: rgb(165, 67, 42);
    font-weight: bold;
}

.two p{
    margin-top: .8rem;
    margin-bottom: 1.4rem;
}

.two button{
    background-color: rgb(165, 67, 42);
    color: white;
    padding: .8rem;
    padding-top: .7rem;
    border: none;
    font-size: .7rem;
}

.bx-play-circle{
    background-color:  rgb(165, 67, 42);
    color: #fff;
    margin-left: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    border-color:  rgb(165, 67, 42);
    box-shadow: .1rem .1rem .1rem .12rem  rgb(165, 67, 42);
    display: inline;
    margin-top: 1.5rem;
    padding-bottom: .3rem;
}

#two img{
    width: 25rem;
    height: 25rem;
    background-image: linear-gradient(to right, lightgrey, lightgrey);
    border-radius: 60%;
    opacity: .4;
    
}

.x3es{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: lightcyan;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
}
#mg1{
    width: 10rem;
    height: 20rem;
    /* border: .4rem dashed; */
    border-radius: 30%;
    margin-top: 7rem;
    /* box-shadow: .2rem .3rem .3rem greenyellow; */
}
@media screen and (max-width: 576px) {
    .x3es, .div3, aside{
        display: grid;
    }

    
}

#mg2 h2{
    color: rgb(165, 67, 42);
    font-size: 1rem;
    margin-top: 2rem;
}

.bxl-facebook{
    border-radius: 1rem;
    border: .1rem solid;
}

.bxl-facebook{
    border-radius: 1rem;
    border: .1rem solid;
    margin: .5rem;
}

.bxl-telegram{
    border-radius: 1rem;
    border: .1rem solid;
    margin: .5rem;
}

.bxl-whatsapp{
    border-radius: 1rem;
    border: .1rem solid;
    margin: .5rem;
}

.bxl-instagram{
    border-radius: 1rem;
    border: .1rem solid;
    margin: .5rem;
}

#btn1{
    padding: 1.1rem;
    background-color: rgb(165, 67, 42);
    color: #fff;
    border: none;
    text-transform: uppercase;
}

#btn2{
    padding: 1rem;
    background-color: #000;    color: #fff;
    border: none;
    text-transform: uppercase;
}

article h5{
text-align: center;
font-size: 1.5rem;
font-weight: 600;
}

article p{
    text-align: center;
    font-size: .7rem;
    }
    


aside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}
aside h4{
    border: 1rem;
    background-color: rgb(165, 67, 42);
    margin: 1rem;
    flex-wrap: wrap;
    color: white;
}